.links > .selected, .not-selected {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px;
}


#link > * {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    text-decoration: none;
    border-radius: 10px;
}

.selected {
    padding: 15px;
    background-color: coral;
    width: 50px;
}

.not-selected {
    padding: 15px;
    width: 50px;
}




